DirectX 12/02_Triangle/Win32/Debug/GraphicsDemo.tlog/fxc.read.1.tlog
DirectX 11/01_Skeleton/Debug/GraphicsDemo.bsc
*.tlog
DirectX 11/01_Skeleton/Debug/vc120.idb
DirectX 11/01_Skeleton/report.html
*.sdf
DirectX 12/01_Skeleton/report.html
*.idb
DirectX 12/02_Triangle/GraphicsDemo.opensdf
*.opensdf
DirectX 12/02_Triangle/pixel.sh
*.html
DirectX 12/02_Triangle/vertex.pso
*.pso
DirectX 12/02_Triangle/vertex.sh